<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form id="form">
        <input type="date" value="">
        <input type="submit" value="입력">
    </form>
    <div>주식차트</div>
    <div id="chart">
        <script>
        //일부분만 새로고침 == load 함수 하기
        //포맷팅해서
            $("#form").submit(function(e){

                e.preventDefault();
                var date = $("#form input[type='date']").val();

                if(date == ""){
                    var today = new Date();
                    var year = today.getFullYear()-3;
                    var month = today.getMonth() + 1;
                    var day = today.getDate();
                    date = year + "-" + month + "-" + day;
                    //console.log('date는 : ' + date);
                }

                var stock_name = `{{stockInfo.stockName}}`;
                var stock_code = {{stockInfo.stockCode}};
                var stock_price = {{stockInfo.stockPrice}};
                var data = {'date':date,
                            'stock_name':stock_name ,
                            'stock_code': stock_code};
                $.ajax({
                    url:'http://127.0.0.1:8000/stock/stock_detail',
                    method:'GET',
                    data:data,
                    contentType: "application/json; charset=UTF-8",
                    success: function(result){
                        Plotly.plot('chart',
                        JSON.parse(result.stockGraph)
                        ,{});
                    },
                });
            });
        </script>
    </div>
    <div>
        주식 이름: {{stockInfo.stockName}}
        주식 코드: {{stockInfo.stockCode}}
        주식 가격: {{stockInfo.stockPrice}}
    </div>
    <div>관련 뉴스</div>
    <div id="news">

    </div>
</body>
<script>
    $(document).ready(function(){
        data = {'keyword':`{{stockInfo.stockName}}` ,
                'news_num': 5 };
        $.ajax({
            url:'http://127.0.0.1:8000/news/news',
            method:'GET',
            data: data,
            success:function(result){
                console.log(result);
                var str = '';
                Object.keys(result).forEach(function(key){
                    str += '<div id="news"><div class="content'+ key + '">' +
                    '<a href="'+ result[key]['url'] +'">'+ result[key]['title'] +
                    '</a></div><div class="text">'+ result[key]['text'] +'</div></div>';
                });
                $("#news").append(str);
            },
        });
    });

</script>

</html>