<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table.type09 {
          border-collapse: collapse;
          text-align: left;
          line-height: 1.5;

        }
        table.type09 thead th {
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          color: #369;
          border-bottom: 3px solid #036;
        }
        table.type09 tbody th {
          width: 150px;
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
          background: #f3f6f7;
        }
        table.type09 td {
          width: 350px;
          padding: 10px;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
        }
        a:link { color: black; text-decoration: none;}
        a:visited { color: black; text-decoration: none;}
        a:hover { color: black; text-decoration: none;}


    </style>
</head>
<body>
    <table class="type09">
        <thead>
        <tr>
            <th>분류</th>
            <th>종목</th>
            <th>종목 코드</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody id="stock">

        </tbody>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
   $.ajax({
        url:'http://127.0.0.1:8000/stock/stocklist',
        method:'GET',
        datatype:"JSON",
        contentType: "application/json; charset=UTF-8",
        success: function(result){

            Object.keys(result).forEach(function (key){
                $("#stock").append(
                    "<tr><td>" + result[key][1] +"</td>"+
                    "<td><a href='/stock/stockDetail?stock_code=" + result[key][0] +"'>"+ result[key][0]+ "</a></td>"+
                    "<td class='stock_code'>" + key + "</td>"+
                    "<td>" + result[key][2] +"</td></tr>"
                );
            });
        }
   });

   $('tr').on('click',function(){
    /*
    var stock_code = $(this).find("td[class='stock_code']").val();
    var link = "/stock/stockDetail?stock_code=" + stock_code ;
    location.href=link;
    */
    console.log('event');
});
});



</script>
</html>