<!doctype html>
<html lang="\">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
<h1>회원 가입</h1>

<form id="joinForm" action="/join" method="post">
    <label for="memberId">아이디</label>
    <input type="text" name="memberId" id="memberId" placeholder="영문자+숫자 조합"><button id="idCheck">아이디 중복 체크</button>
    <input type="hidden" name="id_chk" id="id_chk" value="">
    <br>
    <label for="memberPw">비밀번호</label>
    <input type="password" name="memberPw" id="memberPw" placeholder="영문자+숫자 조합"> (8자리 이상)
    <br>
    <label for="memberName">이름</label>
    <input type="text" name="memberName" id="memberName">
    <br>
    <label for="memberGender">성별</label>
    <input type="radio" value="F" name="memberGender" id="female">여
    <input type="radio" value="M" name="memberGender" id="male">남
    <br>
    <label for="memberEmail">이메일</label>
    <input type="text" name="memberEmail" id="memberEmail">
    <br>
    <label for="memberAge">나이</label>
    <input type="text" name="memberAge" id="memberAge">
    <br>
    <input type="submit" value="회원가입">
    <a href="/">뒤로가기</a>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $('#idCheck').click(function(){

        $("input[name='id_chk']").val('y');

        });

        //회원 정보 전체 입력 확인
        $("#joinForm input[type='submit']").on("click",function(e){
            var form = document.getElementById("joinForm");

            var idChk = /^[a-zA-Z0-9]{4,10}$/;
            var pwdChk = /^[a-zA-Z0-9]{8,15}$/;
            var emailChk = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            var nameChk = /^[가-힣]{2,15}$/;
            var ageChk= /^[0-9]{1,2}$/;

            var id = document.getElementById("memberId");
            var pwd = document.getElementById("memberPw");
            var name = document.getElementById("memberName");
            var female = document.getElementById("female");
            var male = document.getElementById("male");
            var email = document.getElementById("memberEmail");
            var age = document.getElementById("memberAge");

        <!--아이디 유효성 검사------------>

             if(!id.value){
                alert("아이디를 입력해 주세요");
                return false;
            }
            if(form.id_chk.value ==''){
                alert("아이디 중복체크를 해주세요");
                return false;
            }

             if(!idChk.test(id.value)){
                alert("아이디는 영문자와 숫자 조합으로 4~10자리 사용해야 합니다.");
                return false;
            }

         <!--비밀번호 유효성 검사------------>

             if(!pwd.value){
                alert("비밀번호를 입력해 주세요");
                return false;
            }

            if(!pwdChk.test(pwd.value)){
                alert("비밀번호는 영문자와 숫자 조합으로 8~15자리 사용해야 합니다.");
                return false;
            }

            if(pwd.value==id.value){
                alert("id와 password가 동일합니다.");
                return false;
            }

         <!--이름 유효성 검사------------>

             if(!name.value){
                alert("이름을 입력해 주세요");
                return false;
            }

             if(!nameChk.test(name.value)){
                alert("이름은 한글만 입력해 주세요");
                return false;
             }
        <!--성별 유효성 검사------------>

                 if(!female.checked && !male.checked){
                    alert("성별을 선택해주세요");
                    return false;
                }

         <!--이메일 유효성 검사------------>

             if(!email.value){
                alert("이메일을 입력해 주세요");
                return false;
            }

            if(!emailChk.test(email.value)){
                alert("올바른 이메일 형식이 아닙니다.");
                return false;
            }
        <!--나이 유효성 검사------------>
             if(!age.value){
                alert("나이를 입력해 주세요");
                return false;
            }
             if(!ageChk.test(age.value)){
                alert("나이는 숫자로만 입력해 주세요");
                return false;
            }

            form.submit();
        });

        // 아이디 중복 체크
        $("#idCheck").click(function(e){
            var memberId = $("#memberId").val();
            console.log(memberId);
            e.preventDefault();

            $.ajax({
                url:'/idCheck',
                type:'POST',
                data:memberId,
                contentType : "application/json; charset=UTF-8",
                success: function(data){
                    console.log(data);
                    if(data == '1'){
                        $("#idCheck").text("사용중인 아이디 입니다.");
                        $("#memberId").val('');
                        $("input[name='id_chk']").val('');
                        $("#joinForm").find("input[type='submit']").attr("disabled",false);

                    }else{
                        $("#idCheck").text("사용 가능한 아이디 입니다.");
                        $("#joinForm").find("input[type='submit']").attr("disabled",false);
                    }
                },
                error:function(){
                    console.log("fail");
                }
            });
        });

</script>
</html>