<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/board/list" role="button" class="btn btn-primary">글 등록</a>
            {{#socialMember}} <!--userName 이 존재 할 경우-->
                    Logged in as:<span id="user">{{socialMember.id}} </span>
                    <a href="/memberLogout" class="btn btn-info active" role="button">logout</a>
            {{/socialMember}}
            {{^socialMember}} <!--userName이 존재 하지 않을경우-->
                {{#loginMember}}
                    <a href="/test" class="btn btn-info active" role="button">투자성향 테스트</a>
                    <a href="/asset/register" class="btn btn-info active" role="button" id="regAsset">자산 등록</a>
                    <a href="/asset/get" class="btn btn-info active" role="button" id="getAsset">내 자산 조회</a>
                    <a href="/memberLogout" class="btn btn-info active" role="button">logout</a>
                    <a href="/myPage" class="btn btn-info active" role="button">my page</a>
                    {{^admin}}
                    <a href="/memberOut" class="btn btn-info active" role="button">회원 탈퇴</a>

                    {{/admin}}
                    {{#admin}}
                        <a href="/adminPage" class="btn btn-info active" role="button">admin page</a>

                    {{/admin}}
                {{/loginMember}}
                {{^loginMember}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">google login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">naver login</a>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/login" method="post" id="loginForm">
                                id: <input type="text" id="memberId"  name="memberId"><br>
                                pw: <input type="password" id="memberPw" name="memberPw"><br>
                                <input type="submit" value="로그인" onclick="loginChk()">
                                <button type="button"  onclick="location.href='/join'">회원가입</button>
                            </form>
                        </div>

                    </div>
                {{/loginMember}}
            {{/socialMember}}
        </div>
    </div>

</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

       function loginChk(){

            var form = document.getElementById("loginForm");

            if(!form.memberId.value){
                alert("아이디를 입력해 주세요");
                return false;
            }
            if(!form.memberPw.value){
                alert("비밀번호를 입력해 주세요");

                return false;
            }

            form.submit();
        }


            var msg = {{loginChk}};
            console.log(msg);

            window.onload = function() {
                 if (msg == "2"){
                    alert("로그인 실패!");
                }
            }




        $("#loginForm").submit(function(e){
              //e.preventDefault();

              var memberId = $("#memberId").val();

              console.log(memberId);

              $.ajax({
                url : '/asset/assetChk',
                type: 'POST',
                data: memberId,
                contentType : "application/json; charset=UTF-8",
                success : function(result, status, xhr){
                         console.log("from login mustache" + result);
                        if(result == '1'){
                            console.log("from login mustache" + result);
                             $("#regAsset").attr('href', '/asset/get').val("내 자산 조회"); //이부분 안먹음
                        } else{
                             $("#loginForm").find("a[name='getAsset']").hide(); //이 부분 안먹음
                        }

                },
                error: function(){
                    console.log("fail");
                }
             });
        });



    </script>
</body>
</html>

